<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <!-- QUICKTELLER SETTINGS-->
    <add key="EnquiryClientId" value="IKIA89010217044B016FE467FF4B6EF9A1DA31DCDEEB" />
    <add key="EnquiryClientSecretKey" value="+SD6XVQ7D6SOZkSQJ9N3ki5eApIhXcaE6RihioHPj/Y=" />
    <add key="clientId" value="IKIADFB6F53FEE3CE4B691B343C55D2956BE1CF4A9BC" />
    <add key="clientSecretKey" value="yyQ201H8gvlM2k8j7ukUhEA8UzIVxJQuiF/th5igJ1k=" />
    <add key="TerminalId" value="3XXT0001" />
    <add key="QuicktellerUrl" value="https://sandbox.interswitchng.com/api/v2/quickteller" />
    <add key="QuicktellerNameEnquiryUrl" value="https://sandbox.interswitchng.com/api/v1/nameenquiry/banks/accounts/names" />
    <add key="QuicktellerPrefix" value="1456" />
  </appSettings>
</configuration>